<%= form_tag(tasks_path, :method => "get", id: "search-form", class: "form-inline") do %>
	<div class="field">
		<div class="form-group">
			<%= text_field_tag :search, params[:search], placeholder: "Search Tasks", class: "form-control" %>
		</div>
		<div class="form-group">
			<div class="input-group date" id="searchStart">
			    <%= datetime_field_tag :search, params[:search], placeholder: "Start Date", class: "form-control" %>
			    <span class="input-group-addon">
			        <span class="glyphicon glyphicon-calendar"></span>
			    </span>
		    </div>
		</div>
		<div class="form-group">
			<div class="input-group date" id="searchEnd">
				<%= text_field_tag :search, params[:search], placeholder: "End Date", class: "form-control" %>
			    <span class="input-group-addon">
			        <span class="glyphicon glyphicon-calendar"></span>
			    </span>
		    </div>
		</div>
		<div class="form-group">
			<%= button_tag(type: 'submit', class: "btn btn-default") do %>
				<span class="glyphicon glyphicon-search"></span> 
			<% end %>
		</div>
	</div>
<% end %>