<section id="flash-error"></section>
<div class="list-group">
<%= form_for(@task, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<div class="form-group">
	    <%= f.label :title %>
	    <%= f.text_field :title, :value => @task.title, class: "form-control" %>
    </div>

    <div class="form-group">
	    <%= f.label :description %>
	    <%= f.text_area :description, :value => @task.description, class: "form-control" %>
	</div>

	<div class="form-group">
	    <div class="col-md-6">
		    <%= f.label :start %>
		    <div class="input-group date" id="startDateTime">
			    <%= f.datetime_field :start, :value => @task.try(:start).try(:strftime, "%Y-%m-%d %I:%M %p"), class: "form-control" %>
			    <span class="input-group-addon">
			        <span class="glyphicon glyphicon-calendar"></span>
			    </span>
		    </div>
	    </div>

	    <div class="col-md-6">
		    <%= f.label :finish %>
		    <div class="input-group date" id="endDateTime">
			    <%= f.datetime_field :finish, :value => @task.try(:finish).try(:strftime, "%Y-%m-%d %I:%M %p"), class: "form-control" %>
			    <span class="input-group-addon">
			        <span class="glyphicon glyphicon-calendar"></span>
			    </span>
		    </div>
	    </div>
	</div>
  </div>
  <%= f.submit "Save Changes", class: "btn btn-info", id: "form-button" %>
<% end %>
</div>