<section id="flash-error"></section>
<div class="list-group">
<%= form_for(@task, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<div class="form-group">
	    <%= f.label :title %>
	    <%= f.text_field :title, :value => @task.title, class: "form-control" %>
    </div>

    <div class="form-group">
	    <%= f.label :description %>
	    <%= f.text_area :description, :value => @task.description, class: "form-control" %>
	</div>

	<div class="form-group">
	    <div class="col-md-6">
		    <%= f.label :start %>
		    <div class="input-group date" id="startDateTime">
			    <%= f.datetime_field :start, :value => @task.try(:start).try(:strftime, "%Y-%m-%d %I:%M %p"), class: "form-control" %>
			    <span class="input-group-addon">
			        <span class="glyphicon glyphicon-calendar"></span>
			    </span>
		    </div>
	    </div>

	    <div class="col-md-6">
		    <%= f.label :finish %>
		    <div class="input-group date" id="endDateTime">
			    <%= f.datetime_field :finish, :value => @task.try(:finish).try(:strftime, "%Y-%m-%d %I:%M %p"), class: "form-control" %>
			    <span class="input-group-addon">
			        <span class="glyphicon glyphicon-calendar"></span>
			    </span>
		    </div>
	    </div>
	</div>
  </div>
  <%= f.submit "Save Changes", class: "btn btn-info", id: "form-button" %>
<% end %>
</div>

<script>
	$(function () {
	    $('#startDateTime').datetimepicker({
	    	format: 'YYYY-MM-DD h:mm a',
	        toolbarPlacement: 'top',
	        widgetPositioning: {
	            vertical: 'auto'
	        },
	    	// inline: true,
	        // sideBySide: true
	    });
	    $('#endDateTime').datetimepicker({
	        useCurrent: false, //Important! See issue #1075
	        format: 'YYYY-MM-DD h:mm a',
	        toolbarPlacement: 'top',
	        widgetPositioning: {
	            vertical: 'auto'
	        },
	    	// inline: true,
	        // sideBySide: true
	    });
	    $("#startDateTime").on("dp.change", function (e) {
	        $('#endDateTime').data("DateTimePicker").minDate(e.date);
	    });
	    $("#endDateTime").on("dp.change", function (e) {
	        $('#startDateTime').data("DateTimePicker").maxDate(e.date);
	    });
	});
</script>