<li class="list-group-item">
  <span class="task-title task-title-<%= task.id %>">
    <%= task.title %>
  </span>
  <% if task.finish.present? %>
    <% if task.finish < Time.now %>
      <span class="label label-success" id="deadline-<%= task.id %>">
        Done
      </span>
    <% elsif task.finish <= (Time.now + 1.day) && task.finish > Time.now %>
      <span class="label label-danger" id="deadline-<%= task.id %>">
        <%= distance_of_time_in_words(Time.now, task.finish) %> left
      </span>
    <% elsif task.finish <= (Time.now + 7.day) && task.finish > (Time.now + 1.day) %>
      <span class="label label-warning" id="deadline-<%= task.id %>">
        <%= distance_of_time_in_words(Time.now, task.finish) %> left
      </span>
    <% elsif task.finish > (Time.now + 7.day) %>
      <span class="label label-primary" id="deadline-<%= task.id %>">
        <%= distance_of_time_in_words(Time.now, task.finish) %> left
      </span>
    <% end %>
  <% end %>
  <span class="task-buttons pull-right">
    <% if current_user?(task.user) %>
      <%= link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_task_path(task.id), data: {toggle: "modal", target: "#editTask"}, class: "btn btn-info btn-sm", :remote => true %>
  		<%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, task, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-sm" %>
    <% end %>
  </span>
  <span class="timestamp">Posted <%= time_ago_in_words(task.created_at) %> ago.</span>
</li>

<div class="modal fade" id="editTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="edit-title">Edit a Task</h4>
      </div>
      <div class="modal-body" id="edit-body">
      </div>
    </div>
  </div>
</div>