<% if @result %>
	$('.task-title-<%= @task.id %>').html("<%= @task.title %>");

	<% if @task.finish.presence %>
	    <% if @task.finish < Time.now %>
	    	$('#deadline-<%= @task.id %>').removeClass().addClass("label label-success");
			$('#deadline-<%= @task.id %>').html('Done');	      
	    <% elsif @task.finish <= (Time.now + 1.day) && @task.finish > Time.now %>
	    	$('#deadline-<%= @task.id %>').removeClass().addClass("label label-danger");
			$('#deadline-<%= @task.id %>').html('<%= distance_of_time_in_words(Time.now, @task.finish) %> left');
	    <% elsif @task.finish <= (Time.now + 7.day) && @task.finish > (Time.now + 1.day) %>
	    	$('#deadline-<%= @task.id %>').removeClass().addClass("label label-warning");
	    	$('#deadline-<%= @task.id %>').html('<%= distance_of_time_in_words(Time.now, @task.finish) %> left');
	    <% elsif @task.finish > (Time.now + 7.day) %>
	    	$('#deadline-<%= @task.id %>').removeClass().addClass("label label-primary");
	        $('#deadline-<%= @task.id %>').html('<%= distance_of_time_in_words(Time.now, @task.finish) %> left');
	    <% end %>
	<% else %>
		$('#deadline-<%= @task.id %>').empty();
	<% end %>

	$('#editTask').modal('hide');

	$(':input','#new_task')
	  .not(':button, :submit, :reset, :hidden')
	  .val('')
	  .removeAttr('checked')
	  .removeAttr('selected');

	$("#task-count").html('<%= current_user.tasks.count %>');
	$("#flash-section").html('<div class="alert alert-success">' + '<%= flash[:success] %>' + '</div>');
	$("#flash-error").empty();
<% else %>
	<% if !@task.title.presence %>
		$("#flash-error").html('<div class="alert alert-danger">Title must be present</div>');
	<% elsif @task.title.presence %>
		$("#flash-error").html('<div class="alert alert-danger">Title cannot be longer than 140 characters</div>');
	<% end %>
	$("#flash-section").empty();
<% end %>